<head>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/_Header.css" />
</head>

<header class="header">
    <a href="@Url.Action("LandingPage", "Home")" class="header-left" style="text-decoration: none; color: inherit;">
        <img src="~/Assets/images/img_image_1.png" alt="Digital Arena Logo" class="logo" />
        <h3 class="brand-name">Digital Arena</h3>
    </a>


    <div class="header-center">
        <div class="search-container">
            <img src="~/Assets/images/img_search.png" alt="Search" class="search-icon" />
            <input type="text" class="search-input" placeholder="Search for products..." id="searchInput" />
        </div>
    </div>

    <div class="header-right">
        <img src="~/Assets/images/img_shopping_cart.png" alt="Shopping Cart" class="cart-icon" onclick="toggleCart()" />
        <div class="auth-buttons">
            <button class="login-btn" onclick="showLogin()">LOGIN</button>
            <button class="signup-btn" onclick="showSignup()">SIGN UP</button>
        </div>
    </div>
</header>
