/.vs
/packages

DigitalArena/bin/*
DigitalArena/obj/*

# Ignore everything in 3D Model except selected files
DigitalArena/Assets/3D Model/*
!DigitalArena/Assets/3D Model/
!DigitalArena/Assets/3D Model/README.md
!DigitalArena/Assets/3D Model/3d-model.jpg

# Ignore everything in E-Book except selected files
DigitalArena/Assets/E-Book/*
!DigitalArena/Assets/E-Book/
!DigitalArena/Assets/E-Book/README.md
!DigitalArena/Assets/E-Book/ebook.jpg

# Ignore everything in Carousel except selected files
DigitalArena/Assets/carousel_images/*
!DigitalArena/Assets/carousel_images/
!DigitalArena/Assets/carousel_images/README.md

!DigitalArena/Assets/E-Book/subcat-ebook-business-and-career.jpg
!DigitalArena/Assets/E-Book/subcat-ebook-civil-engineering.jpg
!DigitalArena/Assets/E-Book/subcat-ebook-machine-learning.jpg
!DigitalArena/Assets/E-Book/subcat-ebook-self-improvement.jpg

# Ignore everything in graphics_template except selected files
DigitalArena/Assets/Graphics Template/*
!DigitalArena/Assets/Graphics Template/
!DigitalArena/Assets/Graphics Template/README.md
!DigitalArena/Assets/Graphics Template/graphics-template.jpg

!DigitalArena/Assets/Graphics Template/subcat-graphics-template-business-card.jpg
!DigitalArena/Assets/Graphics Template/subcat-graphics-template-Id-card.jpg
!DigitalArena/Assets/Graphics Template/subcat-graphics-template-letterhead.jpg
!DigitalArena/Assets/Graphics Template/subcat-graphics-template-logo.jpg

# Ignore everything in presentation_slide except selected files
DigitalArena/Assets/Presentation Slide/*
!DigitalArena/Assets/Presentation Slide/
!DigitalArena/Assets/Presentation Slide/README.md
!DigitalArena/Assets/Presentation Slide/presentation-slide.jpg

# Ignore everything in user_profile_image except selected files
DigitalArena/Assets/user_profile_image/*
!DigitalArena/Assets/user_profile_image/
!DigitalArena/Assets/user_profile_image/digital-arena-logo.png
!DigitalArena/Assets/user_profile_image/avatar.jpg
!DigitalArena/Assets/user_profile_image/README.md